<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>ONE|Local</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.724751305903-pp1sekl71seh0dhmm0c5i5ekj06sjg45</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>7</string>
	<key>GIDClientID</key>
	<string>724751305903-pp1sekl71seh0dhmm0c5i5ekj06sjg45.apps.googleusercontent.com</string>
	<key>INIntentsSupported</key>
	<array>
		<string>Intent</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>itms-apps</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>ONE|Local requests access to your calendar to add community events you are interested in, ensuring you never miss out on opportunities to connect and participate.</string>
	<key>NSCameraUsageDescription</key>
	<string>Get access for upload user profile picture</string>
	<key>NSContactsUsageDescription</key>
	<string>ONE|Local requests access to your contacts to help you easily invite friends and connections to join community events or projects, enhancing your collaborative efforts.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Access user location for showing event list near your location</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Access user location for showing event list near your location</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>ONE|Local requires microphone access for voice messages or video recordings within the app, facilitating smoother communication and collaboration on community projects and events.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Get access for upload user profile picture</string>
	<key>NSUserNotificationUsageDescription</key>
	<string>ONE|Local would like to send you notifications about upcoming events, project updates, and community news, keeping you informed and engaged with local happenings.</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
